@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Merriweather:wght@300&family=Poppins:wght@300;400;600;700&family=Roboto+Mono:wght@200&family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;

}
li, a, button{
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.nav-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 7, 12, 0.30), rgba(5, 7, 12, 0.30)), url(../img/newlesster.jpg);
    background-size: cover;
    background-position: center;
    /* align-items: center; */
    padding: 30px 5%;
}

.nav-header{
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.logo a h3{
    font-size: 25px;
}

.nav-links{
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}


/* .nav-links li a:hover{
    color: #1f2124;
} */

.redes{
    list-style: none;
}
.redes li{
    display: inline-block;
    padding: 0px 7px;
}
ul,.redes,li,a,i{
    transition: all 0.3s ease 0s;
    font-size: 23px;
}
button{
    padding: 9px 25px;
    background-color: rgba(73,73,73,1);
    /* margin-left: 42%; */
    margin-top: 3%;
    /* padding-right: auto; */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
}
button:hover{
    background-color: rgba(73,73,73,0.8);

}
.contenedor article button{
    padding: 9px 25px;
    background-color: rgba(73,73,73,1);
    /* margin-left: 42%; */
    margin-top: 3%;
    /* padding-right: auto; */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.title-centre{
    color: white;
    padding-top: 10%;
    font-size: 40px;
    text-align: center;
    cursor: default;
}
.paragraph{
    padding: 0 350px;
    color: white;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    word-spacing: 2px;
    line-height: 2;

}


















footer{
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    background:#1f2124;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-container h3{
   font-size: 1.8rem;
   font-weight: bold;
   cursor: default;
   /* text-transform: capitalize; */
   /* line-height: 3rem; */
}
.footer-container p{
    max-width: 500px;
    margin: 40px auto;
    /* line-height: 28px; */
    font-size: 30px;
    cursor: default;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 3 rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(73,73,73);
}
.footer-bottom{
    background: #000;
    /* width: 100vw; */
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform:capitalize;
    cursor: default;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
 /* ::VENTANA EMERGENTE:: */
.overlay{
    background: rgba(0,0,0, .8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}
.overlay.active{
    visibility: visible;
}
.popup{
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .8);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
    position: relative;
}
.popup .btn1{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bolder;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Roboto Mono', monospace;
    transition: all .3s;
    border-bottom: 1px solid black;
}
.popup input:focus{
    border-bottom: 1px solid gray;
}

.overlay .boton-enviar{
    padding: 9px 25px;
    background-color: rgba(73,73,73,1);
    /* margin-left: 42%; */
    margin-top: 3%;
    /* padding-right: auto; */
    border: none;
    font-size: 16px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
}

.overlay .boton-enviar:hover{
    background-color: rgba(73,73,73,0.8);

}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .2s ease all;
}
.popup .btn-cerrar-popup:hover{
    color: #000;
}

.popup h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    /* opacity: 0; */
}
.popup h4{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}

.popup form .contendor-inputs{
    opacity: 1;
}

.popup form .contendor-inputs input{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #bbbbbb;
}
.btn-abrir-popup{
    padding: 9px 25px;
    background-color: rgba(73,73,73,1);
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
    margin-left: 42%;
}

.btn-abrir-popup:hover{
    background-color: rgba(73,73,73,0.8);

}



.popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #1f2124;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
.popup form .btn-submit:hover{
    background: rgba(0,0,0, .8);
}


/* ::ANIMACIONES:: */
.popup.active{
    opacity: 1;
    transform: scale(1);
}
.popup.active h3{
    animation: entradaTitulo .8s ease .5s forwards;
}
.popup.active h4{
    animation: entradaSubtitulo .8s ease .5s forwards;
}
.popup.active .contenedor-inputs{
    animation: entradaInputs 1s ease 1s forwards;
}
@keyframes entradaTitulo{
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo{
    from{
        transform: translateY(25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs{
    form{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}